{{define "head"}}
    <title>Contact us - LensLocked.com</title>
{{end}}

{{define "yield"}}
    <h1>Contact Us</h1>
    <p>
        You can reach out by emailing
        <a href="mailto:info@lenslocked.com">info@lenslocked.com</a>.
    </p>

    {{template "footer"}}
{{end}}
