{{define "head"}}
    <title>Contact us - LensLocked</title>
{{end}}

{{define "main"}}
    <h1>Contact Us</h1>
    <p>
        You can reach out by emailing
        <a href="mailto:info@lenslocked.com">info@lenslocked.com</a>.
    </p>
{{end}}
